<header class="bg-gray-900 shadow-lg sticky top-0 z-10">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex justify-center space-x-6">
        <a routerLink="/" class="text-white hover:text-red-500 font-medium text-lg transition duration-300">Inicio</a>
        <a routerLink="/nosotros" class="text-white hover:text-red-500 font-medium text-lg transition duration-300">Nosotros</a>
        <a routerLink="/productos" class="text-white hover:text-red-500 font-medium text-lg transition duration-300">Productos</a>
        <a routerLink="/contacto" class="text-white hover:text-red-500 font-medium text-lg transition duration-300">Contacto</a>
    </nav>
</header>